albucore
albumentations
annotated-types
attrs
Automat
Babel
bcrypt
blinker
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
constantly
contourpy
cryptography
cuda-bindings
cuda-pathfinder
cycler
dbus-python
distro
distro-info
filelock
fonttools
fsspec
httplib2
hyperlink
idna
incremental
iniconfig
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
kornia
kornia_rs
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
netifaces
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
oauthlib
opencv-python-headless
packaging
pillow
pip
pluggy
pyasn1
pyasn1-modules
pycurl
pydantic
pydantic_core
Pygments
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
pytest
python-apt
python-dateutil
pytz
PyYAML
requests
rich
scipy
service-identity
setuptools
simsimd
six
stringzilla
sympy
systemd-python
torch
torchvision
tqdm
triton
Twisted
typing_extensions
typing-inspection
ubuntu-pro-client
unattended-upgrades
urllib3
wadllib
wheel
zope.interface

